USE [master]
GO
/****** Object:  Database [ArtiaVet]    Script Date: 14/11/2025 12:47:33 a. m. ******/
CREATE DATABASE [ArtiaVet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArtiaVet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArtiaVet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArtiaVet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArtiaVet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArtiaVet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArtiaVet]
GO
/****** Object:  Table [dbo].[Alergias]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlergiasMascotas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlergiasMascotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[alergiaID] [int] NOT NULL,
	[mascotaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[veterinarioID] [int] NOT NULL,
	[mascotaID] [int] NOT NULL,
	[tipoCitaID] [int] NOT NULL,
	[fechaCita] [datetime] NOT NULL,
	[importeAdicional] [decimal](10, 2) NULL,
	[observaciones] [varchar](500) NULL,
 CONSTRAINT [PK__Citas__3213E83F8C62CC65] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dueños]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueños](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[numeroTelefono] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[citaID] [int] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[iva] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumos]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precioUnitario] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsumosDeCitas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsumosDeCitas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[citaID] [int] NOT NULL,
	[insumoID] [int] NOT NULL,
	[cantidadUsada] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[insumoID] [int] NOT NULL,
	[cantidad] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoAnimal] [int] NOT NULL,
	[dueñoID] [int] NOT NULL,
	[raza] [varchar](50) NULL,
	[edad] [int] NULL,
	[nombre] [varchar](50) NOT NULL,
	[notas] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordatoriosDueños]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordatoriosDueños](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[citaID] [int] NOT NULL,
	[fechaRecordatorio] [date] NOT NULL,
	[asunto] [varchar](50) NOT NULL,
	[mensaje] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposAnimales]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposAnimales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCitas]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCitas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[importe] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoUsuario] [int] NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varbinary](256) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[imagen] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alergias] ON 

INSERT [dbo].[Alergias] ([id], [nombre]) VALUES (1, N'Dermatitis por picadura de pulga')
INSERT [dbo].[Alergias] ([id], [nombre]) VALUES (2, N'Hipoproteinemia por consumo de Pollo')
INSERT [dbo].[Alergias] ([id], [nombre]) VALUES (3, N'Sensibilidad a Zea mays')
SET IDENTITY_INSERT [dbo].[Alergias] OFF
GO
SET IDENTITY_INSERT [dbo].[AlergiasMascotas] ON 

INSERT [dbo].[AlergiasMascotas] ([id], [alergiaID], [mascotaID]) VALUES (0, 3, 1)
INSERT [dbo].[AlergiasMascotas] ([id], [alergiaID], [mascotaID]) VALUES (1, 20, 6)
INSERT [dbo].[AlergiasMascotas] ([id], [alergiaID], [mascotaID]) VALUES (2, 1, 12)
SET IDENTITY_INSERT [dbo].[AlergiasMascotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([id], [veterinarioID], [mascotaID], [tipoCitaID], [fechaCita], [importeAdicional], [observaciones]) VALUES (1, 3, 35, 2, CAST(N'2025-10-30T12:00:00.000' AS DateTime), CAST(99.00 AS Decimal(10, 2)), N'si jala?')
INSERT [dbo].[Citas] ([id], [veterinarioID], [mascotaID], [tipoCitaID], [fechaCita], [importeAdicional], [observaciones]) VALUES (2, 2, 4, 2, CAST(N'2025-10-30T13:00:00.000' AS DateTime), CAST(699.00 AS Decimal(10, 2)), N'si')
INSERT [dbo].[Citas] ([id], [veterinarioID], [mascotaID], [tipoCitaID], [fechaCita], [importeAdicional], [observaciones]) VALUES (3, 2, 4, 7, CAST(N'2025-11-10T11:00:00.000' AS DateTime), CAST(40404.00 AS Decimal(10, 2)), N'4152')
GO
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Dueños] ON 

INSERT [dbo].[Dueños] ([id], [nombre], [email], [numeroTelefono]) VALUES (1, N'Ana María López', N'ana.lopez@ejemplo.com', N'5512345678')
INSERT [dbo].[Dueños] ([id], [nombre], [email], [numeroTelefono]) VALUES (2, N'Juan Carlos Pérez', N'juan.perez@ejemplo.com', N'5598765432')
INSERT [dbo].[Dueños] ([id], [nombre], [email], [numeroTelefono]) VALUES (3, N'Sofía García Ruiz', N'sofia.garcia@ejemplo.com', N'5555551212')
SET IDENTITY_INSERT [dbo].[Dueños] OFF
GO
SET IDENTITY_INSERT [dbo].[Insumos] ON 

INSERT [dbo].[Insumos] ([id], [nombre], [precioUnitario]) VALUES (1, N'Sutura Absorbible (Vycril)', CAST(15.50 AS Decimal(8, 2)))
INSERT [dbo].[Insumos] ([id], [nombre], [precioUnitario]) VALUES (2, N'Catéter Intravenoso 22G', CAST(5.25 AS Decimal(8, 2)))
INSERT [dbo].[Insumos] ([id], [nombre], [precioUnitario]) VALUES (3, N'Jeringa 3ml', CAST(0.50 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[Insumos] OFF
GO
SET IDENTITY_INSERT [dbo].[InsumosDeCitas] ON 

INSERT [dbo].[InsumosDeCitas] ([id], [citaID], [insumoID], [cantidadUsada]) VALUES (1, 1, 5, CAST(0.05 AS Decimal(8, 2)))
INSERT [dbo].[InsumosDeCitas] ([id], [citaID], [insumoID], [cantidadUsada]) VALUES (2, 2, 12, CAST(1.00 AS Decimal(8, 2)))
INSERT [dbo].[InsumosDeCitas] ([id], [citaID], [insumoID], [cantidadUsada]) VALUES (3, 2, 3, CAST(1.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[InsumosDeCitas] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([id], [insumoID], [cantidad]) VALUES (1, 1, CAST(23.00 AS Decimal(8, 2)))
INSERT [dbo].[Inventario] ([id], [insumoID], [cantidad]) VALUES (2, 2, CAST(150.00 AS Decimal(8, 2)))
INSERT [dbo].[Inventario] ([id], [insumoID], [cantidad]) VALUES (3, 3, CAST(498.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascotas] ON 

INSERT [dbo].[Mascotas] ([id], [tipoAnimal], [dueñoID], [raza], [edad], [nombre], [notas]) VALUES (1, 1, 1, N'Labrador Retriever', 4, N'Max', N'Amigable, requiere dieta baja en carbohidratos.')
INSERT [dbo].[Mascotas] ([id], [tipoAnimal], [dueñoID], [raza], [edad], [nombre], [notas]) VALUES (2, 2, 2, N'Siamés', 7, N'Mishi', N'Paciente con enfermedad renal crónica.')
INSERT [dbo].[Mascotas] ([id], [tipoAnimal], [dueñoID], [raza], [edad], [nombre], [notas]) VALUES (3, 1, 3, N'Pastor Alemán', 2, N'Kira', N'Cachorro enérgico, calendario de vacunación al día.')
SET IDENTITY_INSERT [dbo].[Mascotas] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposAnimales] ON 

INSERT [dbo].[TiposAnimales] ([id], [tipo]) VALUES (1, N'Perro')
INSERT [dbo].[TiposAnimales] ([id], [tipo]) VALUES (2, N'Ave')
INSERT [dbo].[TiposAnimales] ([id], [tipo]) VALUES (3, N'Roedor')
SET IDENTITY_INSERT [dbo].[TiposAnimales] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposCitas] ON 

INSERT [dbo].[TiposCitas] ([id], [nombre], [importe]) VALUES (1, N'Consulta General y Examen Físico', CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[TiposCitas] ([id], [nombre], [importe]) VALUES (2, N'Vacunación Antirrábica', CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[TiposCitas] ([id], [nombre], [importe]) VALUES (3, N'Vacunación Séxtuple Canina', CAST(55.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TiposCitas] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([id], [tipo]) VALUES (1, N'Admin')
INSERT [dbo].[TipoUsuario] ([id], [tipo]) VALUES (2, N'Veterinario')
INSERT [dbo].[TipoUsuario] ([id], [tipo]) VALUES (3, N'Recepcionista')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [tipoUsuario], [username], [password], [nombre], [imagen]) VALUES (1, 2, N'juanito.perez', 0xBA06266848A410C7032E260EB2017C3219B7AC6675358FF3581DAE532BCE85A4, N'Juan Pérez García', 0x494D47303031)
INSERT [dbo].[Usuarios] ([id], [tipoUsuario], [username], [password], [nombre], [imagen]) VALUES (2, 2, N'ana.lopez', 0xBA06266848A410C7032E260EB2017C3219B7AC6675358FF3581DAE532BCE85A4, N'Ana López Martínez', 0x494D47303032)
INSERT [dbo].[Usuarios] ([id], [tipoUsuario], [username], [password], [nombre], [imagen]) VALUES (3, 2, N'carlos.ruiz', 0xBA06266848A410C7032E260EB2017C3219B7AC6675358FF3581DAE532BCE85A4, N'Carlos Ruiz Delgado', NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ__Facturas__A9534FED78FDC0A8]    Script Date: 14/11/2025 12:47:33 a. m. ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[citaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_InsumoPorCita]    Script Date: 14/11/2025 12:47:33 a. m. ******/
ALTER TABLE [dbo].[InsumosDeCitas] ADD  CONSTRAINT [UQ_InsumoPorCita] UNIQUE NONCLUSTERED 
(
	[citaID] ASC,
	[insumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Inventar__42072BC604CE05F5]    Script Date: 14/11/2025 12:47:33 a. m. ******/
ALTER TABLE [dbo].[Inventario] ADD UNIQUE NONCLUSTERED 
(
	[insumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  CONSTRAINT [DF__Citas__importeAd__534D60F1]  DEFAULT ((0.00)) FOR [importeAdicional]
GO
ALTER TABLE [dbo].[AlergiasMascotas]  WITH CHECK ADD  CONSTRAINT [FK_AlergiasMascotas_Alergia] FOREIGN KEY([alergiaID])
REFERENCES [dbo].[Alergias] ([id])
GO
ALTER TABLE [dbo].[AlergiasMascotas] CHECK CONSTRAINT [FK_AlergiasMascotas_Alergia]
GO
ALTER TABLE [dbo].[AlergiasMascotas]  WITH CHECK ADD  CONSTRAINT [FK_AlergiasMascotas_Mascota] FOREIGN KEY([mascotaID])
REFERENCES [dbo].[Mascotas] ([id])
GO
ALTER TABLE [dbo].[AlergiasMascotas] CHECK CONSTRAINT [FK_AlergiasMascotas_Mascota]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Mascota] FOREIGN KEY([mascotaID])
REFERENCES [dbo].[Mascotas] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Mascota]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_TipoCita] FOREIGN KEY([tipoCitaID])
REFERENCES [dbo].[TiposCitas] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_TipoCita]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Veterinario] FOREIGN KEY([veterinarioID])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Veterinario]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cita] FOREIGN KEY([citaID])
REFERENCES [dbo].[Citas] ([id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cita]
GO
ALTER TABLE [dbo].[InsumosDeCitas]  WITH CHECK ADD  CONSTRAINT [FK_InsumosDeCitas_Cita] FOREIGN KEY([citaID])
REFERENCES [dbo].[TiposCitas] ([id])
GO
ALTER TABLE [dbo].[InsumosDeCitas] CHECK CONSTRAINT [FK_InsumosDeCitas_Cita]
GO
ALTER TABLE [dbo].[InsumosDeCitas]  WITH CHECK ADD  CONSTRAINT [FK_InsumosDeCitas_Insumo] FOREIGN KEY([insumoID])
REFERENCES [dbo].[Inventario] ([insumoID])
GO
ALTER TABLE [dbo].[InsumosDeCitas] CHECK CONSTRAINT [FK_InsumosDeCitas_Insumo]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Insumo] FOREIGN KEY([insumoID])
REFERENCES [dbo].[Insumos] ([id])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Insumo]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Dueño] FOREIGN KEY([dueñoID])
REFERENCES [dbo].[Dueños] ([id])
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Dueño]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_TipoAnimal] FOREIGN KEY([tipoAnimal])
REFERENCES [dbo].[TiposAnimales] ([id])
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_TipoAnimal]
GO
ALTER TABLE [dbo].[RecordatoriosDueños]  WITH CHECK ADD  CONSTRAINT [FK_RecordatoriosDueños_Cita] FOREIGN KEY([citaID])
REFERENCES [dbo].[Citas] ([id])
GO
ALTER TABLE [dbo].[RecordatoriosDueños] CHECK CONSTRAINT [FK_RecordatoriosDueños_Cita]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_TipoUsuario] FOREIGN KEY([tipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_TipoUsuario]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD CHECK  (([cantidad]>=(0)))
GO
ALTER TABLE [dbo].[TipoUsuario]  WITH CHECK ADD CHECK  (([tipo]='Recepcionista' OR [tipo]='Veterinario' OR [tipo]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[CrearCitaYActualizarInventario]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCitaYActualizarInventario] (
    @p_veterinarioID INT,
    @p_mascotaID INT,
    @p_tipoCitaID INT,
    @p_fechaCita DATE,
    @p_importeAdicional DECIMAL(10,2),
    @p_observaciones VARCHAR(500)
)
AS
BEGIN
    DECLARE @v_nuevaCitaID INT;

    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        INSERT INTO Citas (veterinarioID, mascotaID, tipoCitaID, fechaCita, importeAdicional, observaciones)
        VALUES (@p_veterinarioID, @p_mascotaID, @p_tipoCitaID, @p_fechaCita, @p_importeAdicional, @p_observaciones);

        SET @v_nuevaCitaID = SCOPE_IDENTITY(); 

        UPDATE I
        SET 
            I.cantidad = I.cantidad - IDC.cantidadUsada
        FROM 
            Inventario AS I
        INNER JOIN 
            InsumosDeCitas AS IDC ON I.insumoID = IDC.insumoID
        WHERE 
            IDC.citaID = @p_tipoCitaID;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
        RETURN;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_generar_factura]    Script Date: 14/11/2025 12:47:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_generar_factura]
    @id_cita INT
AS
BEGIN
    DECLARE @subtotal DECIMAL(12,2), @iva DECIMAL(12,2), @total DECIMAL(12,2);
    
    SELECT 
        @subtotal = (TC.importe + C.importeAdicional)
    FROM 
        Citas C
    INNER JOIN 
        TiposCitas TC ON C.tipoCitaId = TC.id
    WHERE 
        C.id = @id_cita;

    IF @subtotal IS NULL
    BEGIN
        RAISERROR('Error: No se encontró la Cita con ID %d o su TipoCita asociado.', 16, 1, @id_cita);
        RETURN;
    END
    
    SET @iva = @subtotal * 0.16;
    SET @total = @subtotal + @iva;

    INSERT INTO Facturas (
        citaId,
        monto,
        iva,
        total
    )
    VALUES (
        @id_cita,
        @subtotal, 
        @iva, 
        @total
    );
END;
GO
USE [master]
GO
